@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,600;1,800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: 'Nunito Sans', sans-serif;
}

header {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}

header>p {
  font-weight: 600;
  margin-left: 5px;
}

header>div {
  word-spacing: 2px;
  font-size: 14px;
  margin-right: 5px;
}

.moonIcon {
  margin-right: 5px;
}